{% extends 'layouts/base_background.html' %}
{% load static %}

{% load custom_filters %}

{% block title %} Material Kit 2 by Creative Tim {% endblock title %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}


{% block content %}


<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('{% static 'img/bg2.jpg' %}')">
    <span class="mask bg-gradient-primary opacity-4"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5">Material Kit 2</h1>
          <p class="lead text-white mt-3">
            Custom page
            <br/>
            This page overwrites the default page provided by the library. 
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">


<form id="search-form" class="mb-3" onsubmit="performSearch(event)">
    <div class="form-group">
        <input type="text" class="form-control" id="search-term" placeholder="Search term">
    </div>
    <button class="btn btn-primary" id="search-button" type="submit">Search</button>
</form>


<section class="my-5 py-5">

      <div class="card">
  <div class="table-responsive">
    <table id="rows" class="table align-items-center mb-0">
  <thead>
    <tr>
         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Upphandling</th>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Beställare</th>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Publicerat</th>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Senast svar</th>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Länk</th>
    </tr>
  </thead>
  <tbody>
{% for row in rows %}
        <tr>
            <td>{{ row.Upphandling }}</td>
            <td>{{ row.Beställare }}</td>
            <td>{{ row.Publicerat }}</td>
            <td>{{ row.Senast_svar }}</td>
            <td>{{ row.Länk|safe }}</td>
        </tr>
        {% endfor %}
  </tbody>

            </table>
        </div>
        </div>

<div id="spinner-border" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>




    <div class="row align-items-center">
      <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">



        </div>
      </div>
      <div class="col-lg-6 ms-auto">
        <div class="row justify-content-start">
          <div class="col-md-6">
            <div class="info">

            </div>
          </div>
          <div class="col-md-6">

          </div>
        </div>
        <div class="row justify-content-start mt-5">

          <div class="col-md-6 mt-3">

          </div>
        </div>
      </div>
    </div>

</section>










<!-- -------   START PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 ms-auto">
        <h4 class="mb-1">Thank you for your support!</h4>
        <p class="lead mb-0">We deliver the best web products</p>
      </div>
      <div class="col-lg-5 me-lg-auto my-lg-auto text-lg-end mt-5">
        <a href="https://twitter.com/intent/tweet?text=Check%20Material%20UI%20Kit%20made%20by%20%40CreativeTim%20%23webdesign%20%23designsystem%20%23bootstrap5&url=https%3A%2F%2Fwww.creative-tim.com%2Fproduct%2Fmaterial-kit" class="btn btn-twitter mb-0 me-2" target="_blank">
          <i class="fab fa-twitter me-1"></i> Tweet
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://appseed.us/product/material-kit/django/" class="btn btn-facebook mb-0 me-2" target="_blank">
          <i class="fab fa-facebook-square me-1"></i> Share
        </a>
        <a href="https://www.pinterest.com/pin/create/button/?url=https://appseed.us/product/material-kit/django/" class="btn btn-pinterest mb-0 me-2" target="_blank">
          <i class="fab fa-pinterest me-1"></i> Pin it
        </a>
      </div>
    </div>
  </div>
</div>
<!-- -------   END PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->

</div>

{% endblock content %}

{% block javascripts %}



<!--  Plugin for TypedJS, full documentation here: https://github.com/inorganik/CountUp.js -->
<script src="{% static 'js/plugins/countup.min.js' %}"></script>
<script src="{% static 'js/plugins/choices.min.js' %}"></script>
<script src="{% static 'js/plugins/prism.min.js' %}"></script>
<script src="{% static 'js/plugins/highlight.min.js' %}"></script>
<!--  Plugin for Parallax, full documentation here: https://github.com/dixonandmoe/rellax -->
<script src="{% static 'js/plugins/rellax.min.js' %}"></script>
<!--  Plugin for TiltJS, full documentation here: https://gijsroge.github.io/tilt.js/ -->
<script src="{% static 'js/plugins/tilt.min.js' %}"></script>
<!--  Plugin for Selectpicker - ChoicesJS, full documentation here: https://github.com/jshjohnson/Choices -->
<script src="{% static 'js/plugins/choices.min.js' %}"></script>
    
    
<script>
function performSearch(event) {
    console.log("Performing search");
    event.preventDefault();  // Prevents the form from submitting traditionally

    var searchTerm = document.getElementById('search-term').value;

    fetch('/search_data?search_term=' + encodeURIComponent(searchTerm))
        .then(response => response.json())
        .then(data => {
            if (!Array.isArray(data)) {
                console.error('Expected an array of data');
                return; // Exit the function if data is not an array
            }

            var tableBody = document.getElementById('rows').getElementsByTagName('tbody')[0];
            tableBody.innerHTML = ''; // Clear existing rows

            data.forEach(function(row) {
                var newRow = tableBody.insertRow();
                newRow.innerHTML = '<td>' + row.Upphandling + '</td>' +
                                   '<td>' + row.Beställare + '</td>' +
                                   '<td>' + row.Publicerat + '</td>' +
                                   '<td>' + row.Senast_svar + '</td>' +
                                   '<td>' + row.Länk + '</td>';
            });
        })
        .catch(error => {
            console.error('Error:', error);
        });
}

document.getElementById('search-form').addEventListener('submit', performSearch);
</script>





{% endblock javascripts %}
